/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
/* End CSS reset */

html, body {
  height: 100%;
  width: 100%;
  color: #222;
  background-color: #f2f2f2 !important;
}

a {
  all: unset !important;
  cursor: pointer !important;
}

.fa-1x {
  font-size: 1.5rem;
}

body {
  position: relative;
  width: 100%;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px;
}

.navbar {
  justify-content: space-between;
}

.navbar ul {
  display: flex;
  gap: 50px;
  align-items: center;
  text-decoration: none;
  margin: 0 !important;
}

main {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#intro-box {
  padding: 50px;
}

.intro-bg {
  background-color: #fff;
  border-radius: 15px;
}

.lets-talk {
  color: #3F76A9 !important;
  font-weight: 500;

}

.container {
  display: flex;
  gap: 50px;
}

.pfp {
  max-height: 400px;
  max-width: 450px;
  border-radius: 20px;
}

footer {
  padding-top: 50px;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 30px;
}

.links {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.social-images {
  width: 20px;
  height: 20px;
}
